*
{
	box-sizing: border-box;
}

:root {
	font-family: Montserrat, sans-serif;
}

table {
    border-collapse: collapse;
}
thead {
	background: #607D8B;
	color: white;
}

td, th {
    border:  1px solid #607D8B;
    /* padding: 3px; */
}

tr:nth-child(even) {
    background: hsla(200, 22%, 93%, 1);
}

input {
	border: 0;
	box-shadow: inset 0px 1px 3px grey;
	height: 100%;
	margin: 0;
	padding: 3px;
	width: 100%;
}